.petalos {
    transform-origin: bottom;
    transform-box: fill-box;
}

.petalos.palpitar {
    animation: palpitar 3s ease-in-out;
}

@keyframes palpitar {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.rosas{
    width: 300px;
    overflow: visible;
}