.bee{
    transform-origin: center;
    transform-box: fill-box;
    visibility: hidden;
}

.bee.abeja{
    animation: llegarAFlor 4s ease-in-out;
}


@keyframes llegarAFlor {
  0% {
    transform: translateX(10) translateY(0) scale(1);
    visibility: visible;
    opacity: 0;
  }

  40% {
    transform: translateX(-30px) translateY(5px) scale(1.2);
    opacity: 1;
  }

  65% {
    transform: translateX(-30px) translateY(5px) scale(1.2);
    opacity: 1;
  }

  100% {
    transform: translateX(-100px) translateY(-5px) scale(1);
    opacity: 0;
  }
}

.lirios {
    overflow: visible;
    /* width: 300px; */
}
