.layout {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
}

.izquierda,
.derecha {
  background: #898AC4;
}

.centro {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  position: relative;
  overflow: hidden;
}

.titulo {
  font-size: 5vh;
  background-color: #A2AADB;
  min-height: 11vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reproductor {
    height: 8vh;
    background-color: #C0C9EE;
}

.cielo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 30px;
  height: 45vh;
  background-color: #BBDCE5;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.sol {
  position: absolute;
  top: 5%;
  right: 15%;
  width: 15%;
  aspect-ratio: 1 / 1;
  background-color: #EEF599;
  border-radius: 50%;
}

.nube1 {
  position: absolute;
  top: 25%;
  right: 20%;
  width: 35%;
}

.nube2 {
  position: absolute;
  top: 10%;
  right: 55%;
  width: 35%;
}

.cerca {
  position: absolute;
  bottom: 33%;
  left: -1%;
  width: 102%;
  z-index: 2;
  pointer-events: none;
}


.jardin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 30px;
  height: 36vh;
  background-color: #9EC3A3;
  position: relative;
  overflow: visible;
  z-index: 1;
}

.gir1 {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 220px; 
  height: auto;  
  z-index: 3;
}

.tup1 {
  display: none;
}

.lir1 {
  display: none;
}

.ros1 {
  display: none;
}

.tup2 {
  display: none;
}

.orq1 {
  display: none;
}

.lir2 {
  display: none;
}

.tup3 {
  display: none;
}

.ros2 {
  display: none;
}

.ros3 {
  display: none;
}

.tup4 {
  display: none;
}

.orq2 {
  display: none;
}

.lir3 {
  display: none;
}

.ros4 {
  display: none;
}

.gir2 {
  display: none;
}

.tup5 {
  display: none;
}
.tup6 {
  display: none;
}